:root {
    color-scheme: light dark;
}

body {
    max-width: 50em;
    margin: 0 auto;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 35em;
}

img {
    width: 100%;
}

pre {
    overflow-y: auto;
}

:invalid {
    border: 2px solid red;
}